<!--
  
  SurveyDIY
Sze Man Tang	301221595	
Vikas Bhargav Trivedi	301217554	
Angel Fortino Cruz Benitez	301238011	
Hussein Hussein	301017560	
Wing Yan Lau	301229696
Kanishka Dhir	301220757

Page that serves for both edit and add view on site
-->
<app-header [title] ="title"></app-header>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>{{editing ? "Edit" : "Add a new"}} Survey</h1>

            <form  #form="ngForm" (ngSubmit)="save(form)">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        [(ngModel)]="item._id"
                    >
                    <label for="titleTextField">Survey Title</label>
                    <input type="text" class="form-control"
                        id="titleTextField"
                        placeholder="Enter the Survey Title"
                        name="title" 
                        [(ngModel)]="item.title"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="templateTextField">Template</label>
                    <select name="Template" class="form-control"
                    id="templateTextField"
                    placeholder="MC/TF"
                    name="template" 
                    [(ngModel)]="item.template"
                    (ngModelChange)="toggleReadOnly(item.template)"
                    required>
                    <option value="MC">MC</option>
                    <option value="TF">TF</option>
                    </select>
                </div>
                <br />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="publish" id="public" [value]="true" [(ngModel)]="item.publish">
                    <label class="form-check-label" for="public~">
                      Public
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="publish" id="private" [value]="false" [(ngModel)]="item.publish" >
                    <label class="form-check-label" for="private">
                      Private
                    </label>
                  </div>
                <br />
                <div class="form-group">
                    <label for="startDateTextField">Start Date</label>
                    <input type="datetime-local" class="form-control"
                    id="startDateTextField"
                    name="startDate" 
                    [(ngModel)]="item.startDate"
                    >
                </div>
                <br />
                <div class="form-group">
                    <label for="endDateTextField">End Date</label>
                    <input type="datetime-local" class="form-control"
                    id="endDateTextField"
                    name="endDate" 
                    [(ngModel)]="item.endDate"
                    >
                </div> 
                <br />

                <div  *ngFor="let a of fakeArray; let currentElementIndex = index">       
                    <div class="form-group">
                        <label for="questionTextField">Question {{currentElementIndex+1}}</label>
                        <input type="text" class="form-control"
                            id="questionTextField"
                            placeholder="Enter the Question Title"
                            name="questionText_{{currentElementIndex+1}}"
                            ng-model="item.questionText"
                            value={{item.questionText?item.questionText[currentElementIndex]:null}}
                            ngModel={{item.questionText?item.questionText[currentElementIndex]:null}}
                            > 
                    </div>
                    <div class="form-group">
                        <label for="questionOptionTextField">Question {{currentElementIndex+1}} Options</label>
                        <input type="text" class="form-control"
                            id="questionOptionTextField"
                            placeholder="Enter the Question Option (separate by ;)"
                            name="questionOptionText_{{currentElementIndex+1}}" 
                            value={{item.questionOptionText?item.questionOptionText[currentElementIndex]:null}}
                            [readonly]="readonly"
                            ng-model="item.questionOptionText"
                            ngModel={{item.questionOptionText?item.questionOptionText[currentElementIndex]:null}}
                            > 
                    </div>    
                </div> 

                        
                
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/survey/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>
<app-footer></app-footer>
