<!--

  SurveyDIY
Sze Man Tang	301221595	
Vikas Bhargav Trivedi	301217554	
Angel Fortino Cruz Benitez	301238011	
Hussein Hussein	301017560	
Wing Yan Lau	301229696
Kanishka Dhir	301220757

Allows already registered users to log in to their accounts
-->
<!-- <% include ../partials/header.ejs %> -->
<app-header></app-header>

<div class="container form-signin center mx-auto" style="margin:8%;">

    <div class="card  rounded-5 shadow-lg  " >
        <div class="row  ">
       
          <div class="col">
            <img  style="width: 100%; height: 100%;" src="/assets/images/signin.jpg" alt="" >
          </div>
          <div class="col p-5">
            <h1 class="h3 mb-3 ">Welcome!!</h1>
            <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="message != null">
              {{message}}
            </div>
              <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" placeholder="Username">
                    <label for="username">Username</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button>
                </form>
          </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!-- <% include ../partials/footer.ejs %> -->
     
    
   

