<!--
  
  SurveyDIY
Sze Man Tang	301221595	
Vikas Bhargav Trivedi	301217554	
Angel Fortino Cruz Benitez	301238011	
Hussein Hussein	301017560	
Wing Yan Lau	301229696
Kanishka Dhir	301220757

All of the footer information present in our site
-->
<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script>
    var getTitle="title"
</script>
<script src="/javascripts/app.js"></script>


<body> -->
<footer class="footer " >

    <!-- Footer details -->
    <div class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://www.linkedin.com/in/" style="color: #309d92;" class="nav-link li " >LinkedIn</a></li>
            <li class="nav-item"><a href="https://www.instagram.com/" style="color: #309d92;" class="nav-link li" >Instagram</a></li>
            <li class="nav-item"><a href="https://www.facebook.com/" style="color: #309d92;" class="nav-link li" >Facebook</a></li>
            <li class="nav-item"><a href="https://github.com/szesandyt123/SurveyDIY.git" style="color: #309d92;" class="nav-link li" >Github</a></li>
            
        </ul>
        <p class="text-center " style="color: white;">© 2022 Copyright SURVEY DIY</p> 

    </div>

</footer>


